.moonContainer {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 80vh;
    height: 80vh;

    .moon {
        z-index: 2;

        img {
            width: 20vh;
            height: 20vh;
        }
    }

    .moonlight {
        position: absolute;
        z-index: 1;
        opacity: 0.5;

        img {
            width: 80vh;
            height: 80vh;
        }
    }
}