@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'SawarabiGothic';
  src: url('./assets/fonts/SawarabiGothic-Regular.ttf');
}

@font-face {
  font-family: 'BigJohn';
  src: url('./assets/fonts/BigJohn.otf');
}

@font-face {
  font-family: 'SlimJoe';
  src: url('./assets/fonts/SlimJoe.otf');
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.Page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100vw;
  height: 100vh;
}

.Page-Foreground {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index : 4;
}

.Page-Ocean {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 20vh;
  width: 100vw;
  background-image: linear-gradient(to bottom, #DCAB66, #E36538 5%, #E36538 5%, #E74832)
}