html {
  font-size: 14px;
}

body {
  margin: 0;
  font-family: 'Roboto', 'sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-repeat: no-repeat;
  background-image: linear-gradient(to top, #04112F, #101A36 65%, #000);
  user-select: none;
}
